@import url('https://fonts.googleapos.com/css2?family=Merriweather&family=Roboto&display+swap');

:root {
    --primary-color: #219EBC;
    --secondary-color: #023047;
    --Accent1-color: #FB8500;
    --Accent2-color: #8ECAE6;

    --heading-font: Merriweather, Georgia, serif;
    --paragraph-font: Roboto, sans-serf;

    --nav-background-color: #219EBC;
    --nav-link-color: hsl(0, 0%, 97%);
    --nav-hover-link-color: #507283;
    --nav-hover-background-color:#8ECAE6;
}


body {

    width: 980px;
}

/* HEADEAR */

header {
    display: grid;
    margin: 1rem auto;
    align-items: center;
    
    grid-template-columns: 120px 1fr 2fr;
    max-width: 1500px;
    background-color: #2f8b9b;
    padding: 1rem ;
    
}

nav {
    text-align: right;
    
}

nav a {
    background-color: rgb(230, 191, 120);
    padding: 2px;
    color: white;
    border: 1px solid  rgb(255, 255, 255);
}


.grid {
     display: flex;
     list-style:none;
     
     justify-content:space-between ;
}

.grid a {
    text-decoration: none;
    display: block;
    color:  #19434b;
    
}

header img {
    height: auto;
    width: 100px;
    
    

}




/* MAIN PART   */
main {
    width: 100%;
}

.info {
    background-color: #f3f3f3;
    width: 100% ;
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    
}

.contact {
    margin-left: 1em;
    grid-column: 1/3;
    grid-row: 1/3;
    text-align: left;
}



.contact h2 {
    text-align: justify;
}

iframe {
    width: 600px;
    height: 550px;
}

.map {
    display: grid;
    grid-row: 1/3;
    grid-column: 3/6;
}


h1 {
    font-size: 40px;
    grid-row: 1;
    top: 10px;
    right:0 ;
    left:0 ;
    text-align: center;
    color: rgb(19, 47, 71);
}




/* SECTION 1 */

section {
    width: 95%;
    padding: 1rem;
    margin:1rem;
}



.instructor {
    display: flex;

}

section h2 {
   color: rgb(19, 47, 71);
   text-align: center;
   margin-bottom: 60px
}

article {
    background-color: #bbbbbb;
    padding: 10px;
    display: flex;
}
  
form {
    justify-content: center;
    width:590px;
    margin-left: 10rem;
    
    
    border-radius:10px ;
    display: grid;
    background-color: rgb(255, 255, 255);

}


figure {
    margin:0;
    
    padding: 10px;
}

fieldset{
    display: grid;
    grid-gap: .2em;
    margin: 1em 0;
    padding:1em 2em;
    
    width: 500px;
    border-radius:10px ;
    
}

legend {
    font-size: 1.5em;
    padding: .5em;
    color:rgb(19, 47, 71);
}

section button {
    justify-content: center;
}

button {
    padding: 20px;
   
    margin-top: .5em;
    margin-bottom: .5em;
    background-color: brown;
    color: white;
    font-size: 1.5rem;
    border-radius:.5em;
    border: none;
    align-items: center;
}

button:hover {
    background-color: rgb(218, 142, 44)
}

.instructor img {
    width:200px;
    height: 200px;
    align-content: center;
    margin-left: 50px;
    
}
    


figcaption {
    font-size: 12px;
    text-align: center;
   
}



footer {
    background-color: rgb(19, 47, 71);
    display: grid;
    grid-template-columns: 2fr 1fr;
    max-width: 980px;
    height: 200px;
    padding: 2px;
    border-top: 1px solid  rgb(52, 147, 224);
}

footer p {
    color: aliceblue;
    align-self: center;
    text-align: center;
    
}



.social {
    display: flex;
    width: 40px ;
    
    
    
}

nav.social a {


    background-color: rgb(19, 47, 71);
}


    
    
    



