@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins&display=swap');
:root {
    --primary-color: #219EBC;
    --secondary-color: #023047;
    --Accent1-color: #FB8500;
    --Accent2-color: #8ECAE6;

    --heading-font: 'nunito', sans-serf;
    --paragraph-font: 'poppins', sans-serf;

    --nav-background-color: #219EBC;
    --nav-link-color: hsl(0, 0%, 97%);
    --nav-hover-link-color: #507283;
    --nav-hover-background-color:#8ECAE6;
}


body {

    width: 980px;
}

/* HEADEAR */

header {
    display: grid;
    margin: 1rem auto;
    align-items: center;
    
    grid-template-columns: 120px 1fr 2fr;
    max-width: 1500px;
    background-color: #2f8b9b;
    padding: 1rem ;
    
}

nav {
    text-align: right;
    
}

nav a {
    background-color: rgb(230, 191, 120);
    padding: 2px;
    color: white;
    border: 1px solid  rgb(255, 255, 255);
}


.grid {
     display: flex;
     list-style:none;
     
     justify-content:space-between ;
}

.grid a {
    text-decoration: none;
    display: block;
    color:  #19434b;
    
}

header img {
    height: auto;
    width: 100px;
    
    

}




/* MAIN PART   */
main {
    width: 100%;
}

.info {
    background-color: #f3f3f3;
    width: 100% ;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr  ;
    
}

h1 {
    font-size: 40px;
    grid-row: 2;
    grid-column: 3 / 4 ;
    top: 10px;
    right:0 ;
    left:0 ;
    text-align: center;
    color: rgb(19, 47, 71);
}

ul {
    grid-row: 2;
    grid-column: 1;
    
}

h2 {
    margin-left: 10px;
    color: rgb(19, 47, 71);
}



.info p {
    padding: 15px;
    margin-left: 10px;
    display: flex;
    
}

iframe {
    grid-row: 2 / 4 ;
    grid-column: 2 / 5;
    max-width: 600px;
    max-height: 500px;
    margin-top: 2rem;
    margin-left: 1.rem;
    padding: 10px solid rgb(51, 50, 50);
    
}


/* SECTION 1 */

section {
    width: 95%;
    padding: 1rem;
    margin:1rem;
}



.instructor {
    display: flex;
    
    
    
}

section h2 {
   color: rgb(19, 47, 71);
   text-align: center;


}
  



figure {
    margin:0;
    padding: 10px;
}

.instructor img {
    width:200px;
    height: 200px;
    align-content: center;
    margin-left: 50px;
    
}
    


figcaption {
    font-size: 12px;
    text-align: center;
   
}

footer {
    background-color: rgb(19, 47, 71);
    display: grid;
    grid-template-columns: 2fr 1fr;
    max-width: 980px;
    height: 200px;
    padding: 2px;
    border-top: 1px solid  rgb(52, 147, 224);
}

footer p {
    color: aliceblue;
    justify-items: center;
}

.social {
    display: flex;
    width: 40px ;
    padding: 1px solid  rgb(19, 47, 71);
    
    
}

nav.social a {

    
    background-color: rgb(19, 47, 71);
}


    
    
    



