@import url('https://fonts.googleapos.com/css2?family=Merriweather&family=Roboto&display+swap');

:root {
    --primary-color: #219EBC;
    --secondary-color: #023047;
    --Accent1-color: #FB8500;
    --Accent2-color: #8ECAE6;

    --heading-font: Merriweather, Georgia, serif;
    --paragraph-font: Roboto, sans-serf;

    --nav-background-color: #219EBC;
    --nav-link-color: hsl(0, 0%, 97%);
    --nav-hover-link-color: #49657481;
    --nav-hover-background-color:#8ECAE6;
}


body {

    width: 980px;
}

/* HEADEAR */

header {
    display: grid;
    margin: 1rem auto;
    align-items: center;
    
    grid-template-columns: 120px 1fr 2fr;
    max-width: 1500px;
    background-color: #0d5b85;
    padding: 1rem ;
    
}

nav {
    text-align: right;
    
}

a {
    color: #297297;
}

nav a {
    background-color: rgb(255, 255, 255);
    padding: 2px;
    border-radius: 7%;
    border: 1px solid  rgb(255, 255, 255);
}


.grid {
     display: flex;
     list-style:none;
     
     justify-content:space-between ;
}

.grid a {
    text-decoration: none;
    display: block;
    color: rgb(20, 20, 58);
    
}

header img {
    height: auto;
    width: 170px;
    background-color: #0d5b85;
   
    

}




/* MAIN PART   */


.hero {
    position: relative;
}

.hero img{

width: 100%;
height: auto;
position: relative;

}

h1 {
    font-size: 40px;
    position: absolute;
    top: 10px;
    right:0 ;
    left:0 ;
    text-align: center;
    color: aliceblue;
}


article {
    position: absolute;
    top: 90px;
    margin: 20px;
    width:95% ;
    background-color: rgba(31, 69, 150, 0.7);
}



.hero article img {
     width: 100px;
     float: right; 

     padding: 20px;
     
     
      
      }

article p {
   
    font-size: 20px;
    color: aliceblue;
    border: 100px;
    
}

/* SECTION 1 */

section {
    max-width: 980px;
    padding: 1rem;
    margin:1rem;
    
}
.history {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items:center ;
    
    background-color: #d3e9f5 ;
    
}
.history img {
    width: 170px;
    padding: 0;
    margin: 1rem;
    grid-column: 1;
    grid-row: 2;
    float:left
}

.history h2{
    grid-column: 2;
    
}

.history section p {
    grid-column: 1;
    
    
}


.adventure {
    display: flex;
    
    
    
}

.adventure h2 {
   
   grid-column: 2;
    grid-row: 2;

}

figure {
    margin:0;
    
    
    padding: 10px;
}

.adventure img {
    width:150px;
}
    


figcaption {
    font-size: 12px;
    text-align: center;
   
}

footer {
    background-color: rgb(19, 47, 71);
    display: grid;
    grid-template-columns: 2fr 1fr;
    max-width: 980px;
    height: 200px;
    padding: 2px;
    border-top: 1px solid  rgb(52, 147, 224);
}

footer p {
    color: aliceblue;
    align-self: center;
    text-align: center;
    
}



.social {
    display: flex;
    width: 40px ;
    
    
    
}

nav.social a {


    background-color: rgb(19, 47, 71);
}


    
    
    



