@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');






:root {
    --primary-color: #219EBC;
    --secondary-color: #023047;
    --Accent1-color: #FB8500;
    --Accent2-color: #8ECAE6;

    --heading-font: 'nunito ital', sans-serf;
    --paragraph-font: 'poppins ital', sans-serf;

    --nav-background-color: #219EBC;
    --nav-link-color: hsl(0, 0%, 97%);
    --nav-hover-link-color: #023047;
    --nav-hover-background-color:#8ECAE6;
}


body {

    width: 980px;
}

/* HEADEAR */

header {
    display: grid;
    margin: 1rem auto;
    align-items: center;
    
    grid-template-columns: 120px 1fr 2fr;
    max-width: 1500px;
    background-color: #e9f2f7;
    padding: 1rem ;
    
}

nav {
    text-align: right;
}


.grid {
     display: flex;
     list-style:none;
     
     justify-content:space-between ;
}

.grid a {
    text-decoration: none;
    display: block;
    color: navy;
    
}

header img {
    height: auto;
    width: 100px;
    
    

}




/* MAIN PART   */


.hero {
    position: relative;
}

.hero img{

width: 100%;
height: auto;
position: relative;

}

h1 {
    font-size: 40px;
    position: absolute;
    top: 10px;
    right:0 ;
    left:0 ;
    text-align: center;
    color: aliceblue;
}


article {
    position: absolute;
    top: 90px;
    margin: 20px;
    width:95% ;
    background-color: rgba(31, 69, 150, 0.7);
}



.hero article img {
     width: 100px;
     float: right; 

     padding: 20px;
     
     
      
      }

article p {
   
    font-size: 20px;
    
    border: 100px;
    
}

/* SECTION 1 */

section {
    max-width: 980px;
    padding: 1rem;
    margin:1rem;
}
.history {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items:center ;
    
    background-color: #e9f2f7 ;
    
}
section img {
    width: 170px;
    padding: 0;
    margin: 1rem;
    grid-column: 1;
    grid-row: 2;
    float:left
}

.history h2{
    grid-column: 2;
    
}

.history section p {
    grid-column: 1;
    
    
}


.adventure {
    display: grid;
    grid-template-columns: 1fr 7fr 1fr;
    justify-content: center;
    flex-wrap: wrap;
}

.adventure h2 {
   
   grid-column: 2;
    grid-row: 2;

}

figure {

    display: flex;
    flex-flow: row;
    width: 500px;
    padding: 1px;
}

.adventure img {
    width: 120px; ;
}
    


figcaption {
    padding: 5px;
    font-size: 12px;
    grid-column: 1;
    grid-row: 1;
   
}

footer {
    max-width: 980px;
    padding: 2px;
    border-top: 1px solid  rgb(52, 147, 224);
}



.social img {
    width: 40px ;
    float: right;
    
}


    
    
    



