
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}



.grid {
    display: grid;
    align-items: center;
}

/* Header part */  

header {
    background-color:  rgb(52, 147, 224);
    
   

    

}


nav {
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    display: block; 
    text-align:auto;
    text-decoration: none;
    font-size: 15px;
    font-weight: 900px;
    padding: 1.5rem ;
    color:rgb(252, 227, 211)
    

    
    
}


/* MAIN PART */
main {
    max-width: 840px ;
    margin-bottom: 4rem;
    grid-

}
main img { 
    box-shadow: 0 0 30px rgb(146, 146, 146);
    padding: 2px;
    margin: 1rem;
    border: 1px solid rgb(111, 123, 134);
    float: right;
    
}

h1 {
    color: rgb(44, 44, 44);
    border-bottom: 1px solid  rgb(52, 147, 224);
    padding-bottom: 0.5rem;

    
}

main p {
    padding: 0.5rem;
    margin-bottom: 1rem ;

}


ul li {
    list-style-type: circle;
  }

/* Class Selectors */
.box {
    padding: 1rem;
    margin:1rem;
    border:1rem solid rgba( 0 , 0 , 0 , 0); /* 1️⃣ */;
    background-color: rgb(208, 252, 248);
    color: rgb(100, 73, 38);
}


/* ASIDE PART */ 

aside {
    width: 20rem;
    text-align: center;
    position: relative;
}


aside h2 {
    position: absolute;
    font-size: 50px;
    left: 60px;
    color: rgb(216, 149, 48);
}

aside img {
    width: 320px;
    height: auto;
    
}






/* FOOTER PART*/

footer {
    
    border-top: 1px solid #000;
    text-align: center;
}


header, .grid , footer {

    max-width: 840px;
    margin: 0 auto;
}